<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Bataille navale</title>
</head>
<body>
<div id="menu">
    <ul>
  <li><a href="/views/home.html">Acceuil</a></li>
  <li><a href="/views/create_game.html">Créer une partie</a></li>
  <li><a href="/views/join_game.html">Rejoindre une partie</a></li>
  <li><a href="/views/manage_fleet.html">Créer votre flotte</a></li>
  <li><a href="/views/play_game.html">Jouer</a></li>
</ul>
</div>
<div class="centered-element">
    <h1>Bataille Navale</h1>
    <img src="">
</div>
</body>
</html>